@font-face {
    font-family: "Open sans";
    src: local("OpenSans-Bold"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open sans";
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}


body {
    font-family: "Open sans", "sans-serif;";
    line-height: 1;
    color: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.header {
    background-position: center top;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28393c;
}

.header::after {
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

.container {
    display: flex;
    flex-direction: column;
}

.conteiner_top {
    display: flex;
    justify-content: space-between;
}

.banner {
    text-transform: uppercase;
    text-align: center;
}

.now_trends_title {

    color: #000000;
    font-weight: bold;
    text-transform: uppercase;

}

.now_trends_title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
}

.trend_garden {
    background-image: url("../images/trend1.jpg");
}

.trend_cheese {
    background-image: url("../images/trend2.jpg");
}

.trend_hike {
    background-image: url("../images/trend3.jpg");
}

.trend_lemon {
    background-image: url("../images/trend4.jpg");
}

.trend_garden,
.trend_cheese,
.trend_hike,
.trend_lemon {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28393c;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.trend_garden:before,
.trend_cheese:before,
.trend_hike:before,
.trend_lemon:before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.trend_content {
    display: flex;
    flex-direction: column;
    position: relative;
    text-transform: uppercase;
    border: 3px solid #b59f5b;
    z-index: 2;
}


.trends_link a {
    font-weight: bold;
}

.trends_link a:hover {
    color: #b59f5b;
}

.tags_list_trends {
    display: flex;
    gap: 19px;


}

.tags_list {
    display: flex;
    gap: 17px;
    margin-bottom: 7px;
}

.tags_list_item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #b59f5b;
}

.tags_list_item a:hover {
    text-decoration: underline;
}

.content_header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.content_header a:hover {
    color: #b59f5b;
}

.card-date {
    font-size: 12px;
    color: #888888;
    font-weight: normal;

}

.content_text {
    color: #0f0d0e;
}

.signature {
    font-size: 12px;
    color: #000000;
    font-weight: bold;
}

.new_post_title {
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.conteiner_posts {
    display: flex;
    margin-bottom: 22px;
}

.small_container {
    display: flex;
    flex-direction: column;
}

.card {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}

.card:hover {
    color: #b59f5b;
}

.form {
    position: relative;
}

.search_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.posts_search {
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 20px;
    font-size: 13px;
    border: none;

}

.posts_search:focus {
    outline: 1px solid #b59f5b;
}

input[type="search"i]:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
    display: none;
}

.posts_button {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 0;
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

.posts_button:hover {
    background-color: #323232;
}

.subscription_title {
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.subscription_title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
}

.subscription_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.field {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    height: 48px;
    background-color: #f4f7f6;
}

.field:focus {
    outline: 1px solid #b59f5b;
}

.button-submit {
    text-transform: uppercase;
    font-size: 14px;
    height: 48px;
    color: #fff;
    background-color: #b59f5b;
    margin-top: 18px;
}

.button-submit:hover {
    background-color: #000000;

}

.tag_title {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.tag_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 13px auto 20px;
    border-bottom: 3px solid #e1d9bd;
}

.tag_btn_list {
    display: flex;
    flex-wrap: wrap;
}

.tag_btn {
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
}

.tag_btn:hover {
    border-color: #b59f5b;
}

.themes_title {
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.themes_title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
}

.theme_list_item a {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

.theme_list_item a:hover {
    color: #b59f5b;
}

.theme_list_item::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #eeeeef;
    margin: 14.5px auto 16px;

}

.theme-card-span {
    color: #b59f5b;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top;
    margin-left: 3px;
}

.products_title {
    color: #000000;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}


.products_title::after {
    content: "";
    display: block;
    width: 66px;
    border-bottom: 3px solid #e1d9bd;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small_cont_prod {
    border: 3px solid #d3c59d;
    font-size: 15px;
    z-index: 2;
    color: #000000;
    flex-grow: 1;
}

.product_img {
    display: flex;
    position: relative;
    background-color: #d0d3d3;
}

.product_header {
    text-transform: uppercase;
    font-weight: bold;

}

.product a {
    color: #b59f5b;
}

.product a:hover {
    text-decoration: underline;
}

.product_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.product_prices {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.product__price_old {
    font-size: 14px;
    text-decoration: line-through;
    min-height: 14px;

}

.product_price_new {
    font-size: 20px;
}

.product_button {
    width: 140px;
    height: 49px;
    font-size: 14.5px;
    font-weight: 700;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
}

.product_button:hover {
    background-color: #000000;

}

.social_icon_adress {
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
}

.social_icons {
    list-style: none;
    display: flex;
    align-items: center;
}

.social_icon {
    margin-right: 28px;
}

.social_icon:last-child {
    margin-right: 0;
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social_link {
    display: inline-block;
    background-size: 20px;
    height: 28px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.social_link_dribble {
    background-image: url("../svg/001-dribbble.svg");
}

.social_link_pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.social_link_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: flex;
    justify-content: center;
}

.copyright-text {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
}

.popup_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.popup_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
}

.popup_content {
    width: 390px;
    height: 588px;
    background-color: #ffffff;
    color: #000000;
    z-index: 99;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    position: fixed;
    padding: 49px 30px;
    top: 244px;
}

.close {
    top: -28px;
    right: -2px;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background-image: url("../svg/form-x.svg");
    background-color: #000000;
    background-repeat: no-repeat;

}

.popup_header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 42px;
}




.popup_header::after {
    content: "";
    display: block;
    width: 66px;
    margin: 12px auto 26px;
    border-bottom: 3px solid #e1d9bd;
}

.question_feedback {
    margin-bottom: 32px;
    font-size: 13px;
}

.feedback_sub {
    margin-bottom: 32px;
    font-size: 13px;
}


#question_button {
    width: 100%;
    height: 50px;
    padding: 18px;
    background-color: #f4f7f6;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    -webkit-appearance: none;
    background-size: 10px;
    margin-top: 10px;
}

.sub_text {
    display: inline-block;
}

.radio {
    display: none;
}

.sub_text::before {
    content: "";
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.sub_test {
    margin-top: 9px;
    display: flex;
    gap: 14px;
}

.radio:checked+.sub_text::before {
    background-image: url("../svg/form-circle.svg");
}

.feedback_form {
    font-size: 13px;
}

.form_row {
    margin: 10px auto;
}

.popup_form {
    width: 100%;
    height: 133px;
    max-height: 200px;
    background-color: #f4f7f6;
    display: inline-block;
    font-family: "Open sans";
    padding: 20px;
    resize: none;
}

.popup_button {
    width: 100%;
    height: 50px;
    font-size: 14.5px;
    font-weight: bold;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 13px;
}

@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
        width: 100vw;
        height: 100vh;
    }

    .container {
        align-items: center;
    }

    .conteiner_top {
        width: 100vw;
        height: 45vh;
        margin-bottom: 32px;
        padding-top: 32px;
        padding-left: 30px;
        align-items: flex-end;
        justify-content: center;
    }

    .logo {
        width: 90%;
        position: relative;
        z-index: 2;
    }

    .menu_list {
        display: none;
    }

    .menu {
        display: flex;
        align-self: flex-start;
        position: absolute;
        right: 5%;
    }

    .menu_button {
        width: 23px;
        height: 23px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
        z-index: 2;


    }

    .menu_button:hover {
        opacity: 0.8;
    }

    .menu_button_label {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 9px;
    }

    .menu_button::before,
    .menu_button::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        right: 0;
    }

    .menu_button:before {
        top: 1px;
    }

    .menu_button:after {
        bottom: 3px;
    }

    .banner {
        width: 90%;
        font-size: 26px;
        line-height: 36px;
        position: relative;
        padding-bottom: 210px;
        z-index: 2;
    }

    .now_trends_title {
        font-size: 16px;
        margin: 39px auto 25px;
        text-align: center;
    }

    .now_trends_title::after {
        margin: 8px auto;
    }

    .trend_garden,
    .trend_cheese,
    .trend_hike,
    .trend_lemon {
        background-position: center bottom;
        width: 100%;
        height: 231px;
        margin-bottom: 3px;
    }

    .trends_link {
        font-size: 16px;
        line-height: 20px;
    }

    .trend_content {
        width: 92%;
        padding: 28px 21px;
        margin: 0 14px 16px 14px;
    }

    .tags_list_trends {
        margin-top: 3px;
        margin-bottom: 8px;
    }

    .main {
        width: 332px;
        margin: 0 auto;
    }

    .main_news {
        margin-bottom: 35px;
        border-bottom: 3px solid #eeeeee;
    }

    .main_news:nth-child(1) {
        margin-top: 44px;
    }

    .img {
        display: flex;
        width: 330px;
        height: 253px;
        background-color: #d0d3d3;
        text-align: center;
        margin-bottom: 15px;
    }

    .tags_list {
        margin-left: 2px;

    }

    .date {
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 17px;
    }

    .card-date {
        margin-right: 11px;
    }

    .content_header a {
        font-size: 16px;
        line-height: 20px;
    }

    .content_text {
        font-size: 14px;
        padding-bottom: 20px;
        line-height: 20px;
        width: 325px;
    }

    .p_list {
        margin-top: 5px;
    }

    .posts {
        width: 332px;
        margin: 0 auto;
    }

    .new_posts {
        margin-top: 8px;
    }

    .new_post_title {
        font-size: 16px;
        margin: 42px auto 25px;
        text-align: center;
    }

    .new_post_title::after {
        content: "";
        display: block;
        width: 66px;
        margin: 11px auto 29px;
        border-bottom: 3px solid #e1d9bd;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        line-height: 20px;
    }

    .small_container {
        min-width: 239px;
        margin-left: 5vw;
    }

    .card {
        line-height: 18px;
        margin-top: 2px;
    }

    .form {
        margin-top: 60px;
    }

    .posts_search {
        width: 282px;
    }

    .subscription {
        margin-top: 41px;
    }

    .subscription_title {
        font-size: 16px;
    }

    .subscription_title::after {
        margin: 14px auto 23px;
    }

    .field {
        width: 330px;
        padding: 10px 19px;
    }

    .button-submit {
        width: 330px;
    }

    .tag_title {
        font-size: 16px;
        margin-top: 41px;
    }

    .tag_btn_list {
        justify-content: space-between;
    }

    .tag_btn_list li {
        margin-right: 8px;
    }

    .tag_btn {
        padding: 4px 12px;
    }

    .themes_title {
        font-size: 16px;
        margin-top: 38px;
        margin-left: -5px;
    }

    .themes_title::after {
        margin: 14px auto 25px;
    }


    .products_title {
        font-size: 16px;
        margin-top: 41px;
    }

    .products_title::after {
        margin: 11px auto 0;
    }

    .product {
        width: 330px;
        margin-bottom: -5px;
    }

    .container_products {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .small_cont_prod {
        padding: 47px 17px 23px;
    }

    .product_img {
        max-width: 284px;
        bottom: -30px;
    }

    .product_header {
        font-size: 17px;
    }

    .product_txt {
        margin-top: 5px;
        line-height: 22px;
    }

    .product_footer {
        width: 98%;
    }

    .social_icon_adress {
        width: 92%;
        padding: 29px 0 23px;
        margin: 48px auto 0;
    }

    .copyright {
        margin: 49px auto 46px 9px;
    }

    .popup_content {
        top: 56px;
        width: 92%;
        padding: 25px 28px 25px 23px;
    }

    .close {
        top: -33px;
        right: 0px;
        width: 28px;
        height: 28px;
    }

    .popup_header {
        font-size: 16px;
    }

    #question_button {
        background-position: right 12px center;
        height: 47px;
        margin-top: 10px;
        font-size: 14px;
        padding: 14px 20px;
    }

    .question_feedback {
        margin-bottom: 31px;
    }

    .feedback_sub {
        margin-bottom: 29px;
    }

    .feedback_form {
        line-height: 16px;
    }

    .sub_test {
        margin-top: 9px;
        gap: 32px;
    }

    .sub_text::before {
        margin-right: 7px;
        width: 26px;
        height: 26px;
        background-size: 26px;
    }

    .form_row {
        margin: 8px auto;
    }

    .popup_form {
        padding: 18px 10px 18px 21px;
    }

    .popup_button {
        font-size: 14px;
        margin-left: 2px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {

    .trend_garden,
    .trend_cheese,
    .trend_hike,
    .trend_lemon {
        width: 49.7%;
    }

    .container_trends {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/*********************************************************/
@media (min-width:641px) and (max-width:1200px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        width: 100%;
        background-position: center center;
    }

    .container {
        position: relative;
        margin: 0 auto;
        width: 90.5%;
        z-index: 2;
    }

    .conteiner_top {
        align-items: center;
        margin-top: 43px;
        margin-bottom: 88px;
    }

    .logo {
        width: 159px;
    }

    .menu_button {
        width: 23px;
        height: 23px;
        border: none;
        padding: 0;
        background-color: transparent;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
        right: 1px;

    }


    .menu_button:hover {
        opacity: 0.8;
    }

    .menu_button_label {
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        right: 0;
        top: 9px;
    }

    .menu_button::before,
    .menu_button::after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        right: 0;
    }

    .menu_button:before {
        top: 0;
    }

    .menu_button:after {
        bottom: 3px;
    }

    .menu_list {
        display: none;
    }

    .banner {
        font-size: 40px;
        line-height: 55px;
        padding-bottom: 113px;
    }

    .now_trends_title {
        font-size: 18px;
        margin: 46px auto auto;
        text-align: center;
    }

    .now_trends_title::after {
        margin: 13px auto 18px;
    }

    .container_trends {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .trend_garden,
    .trend_cheese,
    .trend_hike,
    .trend_lemon {
        background-position: center bottom;
        width: calc(50% - 3px);
        min-height: 247px;
    }



    .tags_list_trends {
        font-size: 14px;
        margin-bottom: 5px;
        gap: 6%;
        flex-wrap: wrap;
    }

    .trend_content {
        padding: 8.1% 8.1%;
        margin: 0 4.43% 3.65% 4.95%;
    }

    .trends_link a {
        font-size: 17px;
    }

    .content_header a {
        font-size: 17px;
        line-height: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .main_news {
        border-bottom: 3px solid #eeeeee;
        margin-bottom: 38px;

    }

    .main_container {
        display: flex;
        justify-content: space-between;
        margin: 50px 4.6% 0;
        max-width: 1200px;
    }

    .img {
        width: 99.5%;

    }

    .container_news {
        margin-top: 13px;
    }

    .date {
        margin: 30px -2px 29px;
    }

    .signature {
        margin-left: 9px;

    }

    .content_text {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .content_text_size {
        width: 92%;
    }

    .p_list {
        margin-top: 11px;
    }

    .posts {
        width: 271px;
        margin-left: 35px;
    }

    .new_post_title {
        font-size: 14px;
        text-align: center;
        margin-top: -1px;
    }

    .new_post_title::after {
        content: "";
        display: block;
        width: 66px;
        margin: 12px 106px 29px;
        border-bottom: 3px solid #e1d9bd;
    }

    .small_container {
        margin-left: 18px;
    }

    .card {
        margin-top: 4px;
        line-height: 17px;
    }

    .form {
        margin-top: 60px;

    }

    .posts_search {
        width: 222px;
    }

    .subscription {
        margin-top: 60px;
    }

    .subscription_title {
        font-size: 14px;
        margin-left: -6px;
    }

    .subscription_title:after {
        margin: 12px auto 23px;
    }

    .field {
        width: 100%;
        padding-left: 16px;
    }

    .button-submit {
        width: 100%;
    }

    .tags {
        margin-top: 60px;
    }

    .tag_title {
        font-size: 14px;
    }

    .tag_title:after {
        margin: 12px auto 23px;
    }

    .tag_btn_list li {
        margin-right: 8px;
    }

    .tag_btn {
        padding: 4px 12px;
    }

    .themes {
        margin-top: 57px;
    }

    .themes_title {
        font-size: 14px;
    }

    .themes_title:after {
        margin: 12px auto 23px;
    }

    .our_products {
        margin: 0 37px;
    }

    .products_title {
        font-size: 18px;
        margin-top: 7px;
    }

    .products_title:after {
        margin: 13px auto -3px;
    }

    .container_products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;

    }

    .product_img {
        display: block;
        bottom: -30px;
        width: 86%;
    }

    .img_position {
        bottom: -40px;
    }

    .product {
        width: calc(50% - 11.5px);
    }

    .product_img img {
        width: 100%;
    }

    .small_cont_prod {
        padding: 39px 17px 25px;
    }

    .product_position {
        margin-top: -13px;
    }

    .small_cont_position {
        padding: 49px 17px 25px;
    }

    .product_header {
        font-size: 17px;
        margin-top: 10px;
    }

    .product_txt {
        font-size: 15px;
        line-height: 22px;
        margin-top: 5px;
    }

    .social_icon_adress {
        width: 90.6%;
        margin: 49px auto 0;
        padding: 28px 0 25px 8px;

    }

    .copyright {
        margin: 49px auto 40px 10px;
    }

    .popup_content {
        height: 595px;
        top: 237px;
        padding: 52px 29px;
    }

    .close {
        top: -37px;
        right: 1px;
        width: 26px;
        height: 27px;
    }

    .popup_header {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .question_feedback {
        line-height: 16px;
        margin-bottom: 29px;
    }

    .feedback_sub {
        line-height: 16px;
        margin-bottom: 29px;
    }

    .sub_test {
        gap: 32px;
    }

    .sub_text::before {
        background-size: 25px;
        margin-right: 7px;
        width: 25px;
        height: 25px;
    }

    #question_button {
        padding: 0 19px;
        margin-top: 9px;
        background-position: right 15px center;

    }

    .feedback_form {
        margin-top: 1px;
        line-height: 15px;
    }

    .form_row {
        margin-top: 9px;
    }
}


@media (min-width:641px) and (max-width:1200px) and (orientation: landscape) {

    .trend_garden,
    .trend_cheese,
    .trend_hike,
    .trend_lemon {
        background-position: center bottom;
        width: calc(25% - 3px);
        min-height: 247px;
        position: relative;
    }

    .trends_link a {
        font-size: 17px;
    }

    .trend_content {
        padding: 3% 1%;
    }
}


@media (min-width:1201px) {
    .header {
        background-image: url("../images/banner-bg.jpg");
        width: 100%;
    }

    .container {
        position: relative;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 15px;
        z-index: 2;
    }

    .conteiner_top {
        align-items: center;
        margin-top: 28px;
    }

    .logo {
        width: 179px;
    }

    .menu_button {
        display: none;
    }

    .menu_list {
        display: flex;
        gap: 35px;
        justify-content: flex-end;
    }

    .menu_list_item a {
        font-weight: normal;
        font-size: 13px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
    }

    .menu_list_item a:hover {
        text-decoration: underline;
    }

    .banner {
        width: 700px;
        margin: 0 auto;
        padding-top: 101px;
        padding-bottom: 127px;
        font-size: 45px;
        line-height: 75px;
        color: #ffffff;
        font-weight: 700;

    }

    .now_trends {
        width: 100%;
    }

    .now_trends_title {
        margin-top: 61px;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .now_trends_title::after {
        margin: 12px auto 27px;
    }

    .container_trends {
        display: flex;
        gap: 4px;
    }

    .trend_garden,
    .trend_cheese,
    .trend_hike,
    .trend_lemon {
        position: relative;
        width: calc(25% - 3px);
        min-height: 321px;
        flex: 1;

    }

    .trend_content {
        flex-wrap: wrap;
        padding: 35px 32px;
        margin: 0 23px 15px 21px;
    }

    .tags_list_trends {
        margin-bottom: 8px;
    }

    .trends_link {
        font-size: 20px;
        line-height: 24px;
    }



    .main_container {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        padding: 0 15px;
        margin-top: 62px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    .news {
        width: 776px;
    }

    .main_news {
        display: flex;
        margin-bottom: 60px;
    }

    .img {
        background-color: #d0d3d3;
    }

    .container_news {
        display: flex;
        flex-direction: column;
        width: 368px;
        margin-left: 30px;
    }

    .date {
        display: flex;
        gap: 13px;
        margin-top: 30px;
        margin-bottom: 37px;
    }

    .p_list {
        margin-top: 5px;

    }

    .content_header a {
        font-size: 20px;
    }

    .content_text {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        margin-top: 15px;
    }

    .posts {
        width: 272px;
        display: flex;
        flex-direction: column;
    }

    .new_post_title {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 7px;
    }

    .new_post_title::after {
        content: "";
        display: block;
        width: 66px;
        margin: 12px auto 28px;
        border-bottom: 3px solid #e1d9bd;
    }

    .conteiner_posts {
        justify-content: flex-start;
    }

    .conteiner_posts:last-child {
        margin-bottom: 0;
    }

    .new_posts_img {
        margin-right: 19px;
        background-color: #d0d3d3;
    }

    .small_container {
        flex-wrap: wrap;
    }

    .card {
        margin-top: 7px;
        line-height: 15px;
    }

    .form {
        margin-top: 62px;
    }

    .posts_search {
        width: 224px;
    }

    .posts_button:hover {
        background-color: #323232;
    }

    .subscription {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .subscription_title {
        font-size: 14px;
        margin-left: -2px;
    }

    .subscription_title::after {
        margin: 11px auto 23px;
    }

    .field {
        width: 270px;
        padding: 10px 20px;
    }


    .button-submit {
        width: 270px;
    }

    .tag_title {
        font-size: 14px;
        margin-left: 2px;
    }

    .tag_btn_list {
        justify-content: flex-start;
    }

    .tag_btn_list li {
        margin-right: 6px;
    }

    .tag_btn {
        padding: 4px 14px 4px 13px;
    }

    .themes_title {
        font-size: 14px;
        margin-top: 57px;
        margin-left: 5px;
    }

    .themes_title::after {
        margin: 11px auto 25px;
    }

    .products_title {
        font-size: 20px;
        margin-top: 5px;
    }

    .products_title::after {
        margin: 9px auto 0;
    }

    .container_products {
        margin: 0 auto;
        display: flex;
        max-width: 1200px;
        padding: 0 15px;
        justify-content: space-between;
    }

    .product {
        width: 348px;
    }

    .small_cont_prod {
        padding: 51px 21px 25px;
    }

    .product_img {
        display: block;
        max-width: 300px;
        bottom: -28px;
    }

    .product_header {
        font-size: 20px;

    }

    .product_txt {
        margin-top: 5px;
        line-height: 22px;
    }

    .social_icon_adress {
        width: 1170px;
        padding: 30px 0;
        margin: 61px auto 0;
    }

    .copyright {
        margin: 55px auto 55px 10px;
    }

}