@font-face {
    font-family: "Open sans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "Open sans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: regular;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Open sans", "sans-serif;";
    line-height: 1;
    color: #ffffff;
    margin: 0;
}

ul {
    list-style-type: none;
}

.header {
    position: relative;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #28393c;
    min-width: 1200px;
}

.header::after {
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    padding: 0 15px;
    z-index: 2;
}

.conteiner_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.logo {
    width: 179px;
}

.menu_list {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
}

.menu_list_item a {
    font-style: regular;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu_list_item a:hover {
    text-decoration: underline;
}

.banner {
    width: 700px;
    margin: 0 auto;
    padding-top: 101px;
    padding-bottom: 130px;
}

h1 {
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    font-style: bold;
    text-align: center;
    text-transform: uppercase;
}

.now_trends_title {
    margin-top: 60px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.now_trends_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 9px auto 29px;
    border-bottom: 3px solid #e1d9bd;
}

.container_trends {
    display: flex;
    justify-content: space-between;

}

.trend_now,
.trend_cheese,
.trend_hike,
.trend_lemon {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #28393c;
    width: calc(25% - 400%/1660);
    height: 320px;
    display: flex;
    align-items: flex-end;
}

.trend_now {
    background-image: url("../images/trend1.jpg");
}

.trend_cheese {
    background-image: url("../images/trend2.jpg");
}

.trend_hike {
    background-image: url("../images/trend3.jpg");
}

.trend_lemon {
    background-image: url("../images/trend4.jpg");
}

.trend_now:before,
.trend_cheese:before,
.trend_hike:before,
.trend_lemon:before {
    content: '';
    width: 24.82%;
    height: 320px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
}

.trend_content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 37px 34px;
    margin: 0 22px 17px 19px;
    text-transform: uppercase;
    border: 3px solid #b59f5b;
    z-index: 2;
}

.tags_list {
    display: flex;
    gap: 19px;
    margin-bottom: 10px;


}

.tags_list_item a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #b59f5b;
    z-index: 2;
}

.tags_list_item a:hover {
    text-decoration: underline;
}

.main_container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    padding: 0 15px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.news {
    width: 776px;
}

.main_news {
    display: flex;
    align-content: space-between;
    margin-bottom: 62px;
}

.img {
    height: 293px;
    width: 381px;
    background-color: #d0d3d3;
}

.container_news {
    display: flex;
    flex-direction: column;
    width: 368px;
    margin-left: 29px;
}

.content_header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.content_header a:hover {
    color: #b59f5b;
}

.date {
    display: flex;
    gap: 15px;
    margin-top: 34px;
    margin-bottom: 37px;
}

.card-date {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
}

.signature {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

p {
    margin-top: 0.8em;
    line-height: 21px;
}

.content_text {
    font-weight: 400;
    font-size: 15px;
    color: #0f0d0e;
}

.posts {
    width: 272px;
    display: flex;
    flex-direction: column;
}

.new_post_title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.new_post_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 9px auto 29px;
    border-bottom: 3px solid #e1d9bd;
}

.conteiner_posts {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 22px;
}

.conteiner_posts:last-child {
    margin-bottom: 0;
}

.new_posts_img {
    margin-right: 19px;
    background-color: #d0d3d3;
}

.small_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.card a:hover {
    color: #b59f5b;
}

.search {
    box-sizing: border-box;
    display: inline-block;
}

.form {
    position: relative;
    margin-top: 62px;
}

.search_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.posts_search {
    width: 224px;
    height: 48px;
    background-color: #f4f7f6;
    padding-left: 20px;
    font-size: 13px;
    border: none;

}

.posts_search:focus {
    outline: 1px solid #b59f5b;
}

input[type="search"i]:enabled:read-write:-webkit-any(:focus, :hover)::-webkit-search-cancel-button {
    display: none;
}

.posts_button {
    position: absolute;
    width: 49px;
    height: 48px;
    right: 0;
    background: #b59f5b;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

.posts_button:hover {
    background-color: #323232;
}

.subscription {
    margin-top: 60px;
    margin-bottom: 60px;
}

.subscription_title {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.subscription_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 10px auto 26px;
    border-bottom: 3px solid #e1d9bd;
}

.subscription_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.field {
    box-sizing: border-box;
    display: block;
    width: 270px;
    font-size: 13px;
    padding: 10px 20px;
    height: 48px;
    background-color: #f4f7f6;
}

.field:focus {
    outline: 1px solid #b59f5b;
}

.button-submit {
    text-transform: uppercase;
    font-size: 14px;
    width: 270px;
    height: 48px;
    padding: 10px 25px;
    color: #fff;
    background-color: #b59f5b;
    margin-top: 18px;
}

.button-submit:hover {
    background-color: #000;

}

.tag_title {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.tag_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 10px auto 9px;
    border-bottom: 3px solid #e1d9bd;
}

.tag_btn_list {
    display: flex;
    flex-wrap: wrap;
}

.tag_btn_list li {
    margin-right: 5px;
    margin-top: 21px;
}

.tag_btn {
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    height: 30px;
    padding: 6px 14px;
}

.tag_btn:hover {
    border-color: #b59f5b;
}

.themes_title {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-top: 64px;
}

.themes_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 13px auto 23px;
    border-bottom: 3px solid #e1d9bd;
}

.theme_list_item a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.theme_list_item a:hover {
    color: #b59f5b;
}

.theme_list_item::after {
    content: "";
    display: block;
    width: 100%;
    margin: 15px auto 15px;
    border-bottom: 1px solid #eeeeef;
}

.theme-card-span {
    color: #b59f5b;
    font-size: 10px;
    font-weight: 700;
    vertical-align: super;
}

.products_title {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.products_title::after {
    content: "";
    display: block;
    width: 66px;
    margin: 9px auto 1px;
    border-bottom: 3px solid #e1d9bd;
}

.container_products {
    margin: 0 auto;
    display: flex;
    width: 1200px;
    padding: 0 15px;
    color: #000;
    justify-content: space-between;

}

.product {
    display: flex;
    flex-direction: column;
    width: 348px;
    align-items: center;
}

.small_cont_prod {
    border: 3px solid #d3c59d;
    min-height: 266px;
    padding: 50px 21px 27px;
    font-size: 15px;
    z-index: 2;
}

.product_img {
    display: flex;
    position: relative;
    width: 300px;
    bottom: -30px;

}

.product_header {
    text-transform: uppercase;
}

.product_txt {
    margin-top: 5px;
}

.product a {
    color: #b59f5b;
    text-decoration: none;
}

.product a:hover {
    text-decoration: underline;
}

.product_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 23px;
}

.product_prices {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.product__price_old {
    font-size: 14px;
    text-decoration: line-through;

}
.product_price_new {
    font-size: 20px;
}
.product_button {
    width: 140px;
    height: 49px;
    font-size: 14.5px;
    font-weight: 700;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
}
.product_button:hover {
    background-color: #000;

}

.social_icon_adress {
    background-color: #f4f7f6;
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-top: 61px;

}
.social_icons {
    list-style: none;
    display: flex;
    align-items: center;
}
.social_icon {
    margin-right: 27px;
}
.social_icon:last-child {
    margin-right: 0;
}
.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.social_link {
    display: inline-block;
    background-size: 20px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
.social_link_dribble {
    background-image: url("../svg/001-dribbble.svg");
}

.social_link_pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.social_link_tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.copyright {
    display: flex;
    justify-content: center;
    margin: 58px auto;
}
.copyright-text {
    color: #999999;
    font-weight: 700;
    font-size: 12px;
}
.popup_hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
.popup_overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0px;
}
.popup_content {
    width: 400px;
    height: 610px;
    background-color: #ffffff;
    color: #000000;
    z-index: 99;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    position: fixed;
    padding: 60px 30px;
}
.close {
    top: -30px;
    right: 0px;
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    background-image: url("../svg/form-x.svg");
    background-color: #000000;
}
.popup_header {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.popup_header::after {
    content: "";
    display: block;
    width: 66px;
    margin: 10px auto 26px;
    border-bottom: 3px solid #e1d9bd;
}
.question_feedback, .feedback_sub{
  margin-bottom: 20px;
}
#question_button {
    width: 100%;
    height: 50px;
    padding: 10px;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-size: 10px;
}
.sub_text {
  display: inline-block;
}
.radio {
  display: none;
}
.sub_text::before {
  content: "";
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}
.radio:checked + .sub_text::before {
  background-image: url("../svg/form-circle.svg");
}
.form_row {
    margin: 10px auto;
}
.popup_form {
    width: 100%;
    height: 150px;
    max-height: 200px;
    background-color: #f4f7f6;
    display: inline-block;
    font-family: "Open sans";
    padding: 15px;
    resize: none;
}
.popup_button {
    width: 100%;
    height: 50px;
    font-size: 14.5px;
    font-weight: 700;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px;
}

